altgraph==0.17.2
anaconda==0.0.1.1
asgiref==3.2.8
astroid==2.3.3
attrs==22.1.0
auto-py-to-exe==2.15.0
Automat==22.10.0
Babel==2.9.1
backcall==0.1.0
beautifulsoup4==4.8.2
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
cachetools==5.0.0
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
constantly==15.1.0
cryptography==38.0.3
cssselect==1.2.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.4
Django==3.0.7
django-money==2.1.1
Eel==0.12.4
fake-useragent==1.1.1
filelock==3.4.2
Flask==1.1.2
Flask-Markdown==0.3
Flask-WTF==0.14.3
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
hyperlink==21.0.0
idna==2.9
importlib-resources==5.10.2
incremental==22.10.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
jmespath==1.0.1
joblib==1.1.0
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.9.1
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
npm==0.1.1
numpy==1.18.2
optional-django==0.1.0
packaging==21.3
pandas==1.0.3
parsel==1.7.0
parso==0.6.2
pefile==2021.9.3
pickleshare==0.7.5
Pillow==7.2.0
platformdirs==2.4.1
pprint==0.1
prompt-toolkit==3.0.5
Protego==0.2.1
proxyscrape==0.3.0
py-moneyed==1.2
py2exe==0.11.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
Pygments==2.6.1
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
pylint==2.4.4
pyOpenSSL==22.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pyzmq==19.0.0
queuelib==1.6.2
requests==2.23.0
requests-file==1.5.1
scikit-learn==1.1.1
scipy==1.8.1
Scrapy==2.7.1
scrapy-proxy-pool==0.1.9
scrapy-selenium==0.0.7
scrapy-user-agents==0.1.1
selenium==3.141.0
service-identity==21.1.0
six==1.14.0
sklearn==0.0
soupsieve==2.0
SpeechRecognition @ file:///C:/Users/VG%20Rig/Desktop/SpeechRecognition-3.8.1-py2.py3-none-any.whl
sqlparse==0.3.1
threadpoolctl==3.1.0
tldextract==3.4.0
tornado==6.0.4
traitlets==4.3.3
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
ua-parser==0.16.1
urllib3==1.25.8
user-agents==2.2.0
virtualenv==20.13.0
w3lib==2.0.1
wcwidth==0.1.9
Werkzeug==1.0.1
whichcraft==0.6.1
WMI==1.5.1
wrapt==1.11.2
wtf==0.1
WTForms==2.3.1
zipp==3.11.0
zope.event==4.5.0
zope.interface==5.4.0
