constantly==15.1.0
distlib==0.3.6
filelock==3.8.0
incremental==22.10.0
jmespath==1.0.1
lxml==4.9.2
packaging==22.0
platformdirs==2.5.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
queuelib==1.6.2
six==1.16.0
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.16.6
w3lib==2.1.1
zope.interface==5.5.2
